services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app.dev
    container_name: app-container
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      redis:
        condition: service_healthy
      hls_proxy:
        condition: service_healthy

  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    entrypoint: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  hls_proxy:
    build:
      context: .
      dockerfile: Dockerfile.hls_proxy
    container_name: hls_proxy
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "hlsd","--help"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
